.company-info-column {
  width: 18%;
  float: left;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

#company-info-overview  .company-info-column input {
  width: 150px;
}

#company-info-overview  .company-info-column .form-item {
  float: left;
  margin-right: 5px;
}

#company-info-overview .company-info-column  {
  border-right: 1px solid #ccc;
}

#company-info-overview .company-info-column.last {
  border-right: none;
}

#company-info-overview .company-info-column .column-label {
  display: none;
}

#company-info-overview .company-info-column .column {
  clear: both;
}

input#edit-overview-save {
  float: left;
}

#company-info-actions {
  background: #f8f8f8;
  clear: both;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.company-info-item {
  position: relative;
}

.company-info-item .label {
  font-weight: bold;
}

.company-info-item .map.label {
  font-weight: normal;
}

.company-info-item:hover {
  background: #f8f8f8;
}

.company-info-item a.remove {
  display: none;
  font-size: 10px;
}

.company-info-item:hover a.remove {
  display: block;
  position: absolute;
  top: 0;
  right: 4px;
}
